<table class="table table-boldred">
  <% @Goods.each do |goods| %>
  <tr>
    <td>
      <%= link_to(goods.title, goods_path(goods)) %>
    </td>
    <td>
      <%= goods.created_at %>
    </td>
  </tr>
  <% end %>
</table>
