<table class="table table-boldred">
  <% @goods.each do |good| %>
  <tr>
    <td>
      <%= link_to(good.title, good_path(good)) %>
    </td>
    <td>
      <%= good.created_at %>
    </td>
  </tr>
  <% end %>
</table>
